

    .todo-list{
        list-style: none;
        padding: 0;
        font-weight: bold;
        color: inherit;
    }
    .todo-checkbox{
        margin-top: 5px;
    }
    .todo-text{
        color: inherit;
        background: transparent;
        border: none;
        padding: 5px;
        max-width: 120px;
        font-family: 'calling';
        letter-spacing: 1px;
    }
    .todo-container{
        display: flex;
        margin-bottom: 8px;
        input{
            font-size: 14px;
            margin-right: 5px;
        }
        button{
            border: none;
            font-weight: bold;
            background: transparent;
            font-size: 15px;
            &:hover{
                cursor: pointer;
                opacity: .8;
            }
        }
    }

   