@font-face{
    font-family: 'calling';
    src:url('../../assets/fonts/calling.ttf')
}

.note-manger-container{
    width: 90%;
    margin:auto;
    margin-top: 15px;
    font-family: 'calling';
    letter-spacing: 1px;
}   