

.note-filter{
    margin: 15px auto;
    input{
        font-family: 'calling';
        margin: 0 auto;
        padding: 8px;
        border-radius: 5px;
        font-size: 16px;
        border: 1px solid #222222;
    }
}

@media (max-width: 450px){
    .note-filter{
        text-align: center;
    }
}