@font-face{
    font-family: 'childrens';
    src:url('../../assets/fonts/petit.ttf')
}

.home-container{
    width: 90%;
    margin:auto;
    margin-top: 15px;
    font-family: 'childrens';
    text-align: center;
    h1{
        font-size: 30px;
        text-decoration: underline;
    }
    pre{
        font-size: 24px;
        font-family: 'childrens';
    }
    img{
        width: 250px;
        margin: auto;
        display: block;
        transform: rotateZ(10deg);
    }
}