@font-face{
    font-family: 'calling';
    src:url('../../assets/fonts/calling.ttf')
}



.note-container{
    font-family: 'calling';
    min-width: 180px;
    max-width: 260px;
    margin: auto;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #222222;
    margin-bottom: 10px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.note-content{
font-family: 'calling';
letter-spacing: 1px;
background: transparent;
color: inherit;
border: none;
border-radius: 10px;
padding: 8px;
max-width: 165px;
font-size: 16px;
&:focus{
    outline: none;
    border: 1px solid gray;
}
}

.show{
    height: 100px;
    transition: .4s;
    overflow: hidden;
    opacity: 1;
}
.hide{
    height: 0;
    transition: .4s;
    overflow: hidden;
    opacity: 0;
}

.editor-btns{
display: flex;
justify-content: space-between;
border-top: 1px solid lightgray;
padding-top: 8px;
margin: 10px 0;
height: 30px;
}

.change-btns{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
    button{
        border: none;
        padding: 5px;
        background: #222222;
        color: white;
        border-radius: 8px;
        font-size: 16px;
        &:hover{
            cursor: pointer;
            opacity: .8;
        }
    }
    div > button{
        margin-right: 5px;
    }
}

.color-picker{
input{
    opacity: 0;
    position: absolute;
    width: 25px;
    cursor: pointer;
}
img{
    width: 30px;
    
}
}

.publish-form{
    display: block;
    input{
        width: 30px;
        opacity: 0;
        z-index: 1;
    }
    img{
        position: absolute;
        width: 30px;
    }
}

.add-todo{
    width: 30px;
    cursor: pointer;
}

@media (min-width: 650px){
    .note-container{
        min-width: 180px;
        max-width: 220px;
    }       
}